.meet-heading {
    text-align: center;
    font-family: Inter;
    font-size:50px;
    font-weight: bold;
    padding-top: 45px;
    padding-bottom: 45px;
}
.speakers-man {
    display: grid;
grid-template-columns: repeat(2,1fr);
}