*{
    margin: 0 auto;
    padding: 0;
   
}
.container{
    max-width: 1200px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.middle-part ul{
    display: flex;
    
}
.middle-part ul li{
     list-style: none;
}
.list-item  a{
    text-decoration: none;
}
.navbar-btn{
    background: #1D4ED8;
    color: white;
}